[Desktop Entry]
Name=Nebula
Exec=nebula
Terminal=false
Type=Application
Icon=/usr/share/nebula/view/images/logo_x64.png
Categories=GTK;Audio;Music;Player;
