Package: andromeda
Version: 1.0~0
Architecture: all
Maintainer: Rafael Senties Martinelli 
Depends: libgtk-3-0 (>= 3.10), vlc, python3, python-ccparser, python3-gi, python3-gi-cairo
Installed-Size: DEB_BUILDER_SIZE
Section: music
Priority: Optional
Homepage: http://rsm.website/software/gnu-linux/software/andromeda
Description: Music player
 Music Player
